body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: unset;
}

section {
  margin-block-end: 2rem;
  margin-block-start: 2rem;
  & > ul {
    margin-inline-start: 5rem;
  }
}

ul {
  list-style-type: none;
  margin: unset;
  padding: unset;
}

h2,
h3 {
  margin: unset;
}

code {
  font-size: 1.5rem;
}

.section-id {
  background: lightgray;
  display: flex;
  flex-direction: column;
  height: 4rem;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 4rem;
}

.section-section {
  display: flex;
  margin-block-end: 2rem;
  margin-block-start: 2rem;
  margin-inline-start: -2rem;
  break-inside: avoid;
}

.password-item {
  margin-inline-start: 2rem;
  width: calc(50% - 1rem);
  & > ul {
    display: flex;
    flex-wrap: wrap;
    margin-inline-start: -1rem;
    & > li {
      font-size: 1.125rem;
      margin-block-start: 1rem;
      margin-inline-start: 1rem;
      & > span {
        color: gray;
        display: block;
        font-size: 0.75rem;
        text-transform: uppercase;
      }
      &:not(.note) {
        word-break: break-all;
      }
    }
  }
}

.domain {
  color: gray;
}

.password {
  width: 100%;
}
