body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

section {
  display: grid;
  grid-template-columns: 4rem auto;
  grid-template-rows: 4rem auto;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  ul {
    display: grid;
    grid-column: 2 / 3;
    grid-gap: 1rem 2rem;
    grid-row: 1 / 3;
    grid-template-columns: repeat(2, calc(50% - 1rem));
    margin-inline-start: 1rem;
  }
}

ul {
  list-style-type: none;
  margin: unset;
  padding: unset;
}

h2,
h3 {
  margin: unset;
}

code {
  font-size: 1.5rem;
}

.section-id {
  background: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.password-item {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin-inline-start: -1rem;
    li {
      font-size: 1.125rem;
      margin-block-start: 1rem;
      margin-inline-start: 1rem;
      span {
        color: gray;
        display: block;
        font-size: 0.75rem;
        text-transform: uppercase;
      }
      &:not(.note) {
        word-break: break-all;
      }
    }
  }
}

.domain {
  color: gray;
}

.password {
  width: 100%;
}
