body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

ul {
  list-style-type: none;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  padding-inline-start: unset;
}

h2 {
  margin-block-start: unset;
  margin-block-end: unset;
}

code {
  font-size: 1.5rem;
}

.passwords {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 1rem));
  grid-gap: 1rem 2rem;
}

.domain {
  opacity: 0.5;
}

.password-details {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -1rem;
  li {
    font-size: 1.125rem;
    margin: 1rem 0 0 1rem;
    span {
      display: block;
      font-size: 0.75rem;
      text-transform: uppercase;
    }
    &:not(.note) {
      word-break: break-all;
    }
  }
}

.password {
  width: 100%;
}
